In [1]:
#import os, random, sys, time, shutil, re, csv, datetime, pickle, math 
import pandas as pd

In [2]:
job_data = pd.read_csv('jobs.csv')
job_data['job functions'] = job_data['job functions'].fillna('not found')
job_data['industry'] = job_data['industry'].fillna('not found')
job_data.head(10)

,title,company,date,applicants,description,views,location,industry,job functions
0,"Associate Scientist / Sr. Associate Scientist,...",23andMe,2021-01-23,17,"Who We Are 23andMe, the leading consumer genet...",254,"South San Francisco, CA","Information Technology & Services, Computer So...","Research, Analyst, Information Technology"
1,Senior / Principal Clinical Data Manager,23andMe,2021-01-23,5,"Who We Are 23andMe, the leading consumer genet...",49,"South San Francisco, CA","Information Technology & Services, Computer So...","Research, Analyst, Information Technology"
2,"Team Lead, Senior Appsec Engineer",23andMe,2021-01-27,0,23andMe is looking for an experienced Applicat...,8,"Sunnyvale, CA","Information Technology & Services, Computer So...","Customer Service, Information Technology"
3,Business Analyst Intern (Remote),23andMe,2021-01-27,67,23andMe is looking for a Business Analyst Inte...,368,"Sunnyvale, CA","Information Technology & Services, Computer So...","Business Development, Sales"
4,IT & Security Project Manager,23andMe,2021-01-28,1,23andMe is looking for a talented and experien...,19,"Sunnyvale, CA","Information Technology & Services, Computer So...","Project Management, Information Technology"
5,CMC Process Development Lead,23andMe,2021-01-26,0,CMC Process Development Lead Who We Are 23andM...,39,"South San Francisco, CA","Information Technology & Services, Computer So...","Management, Manufacturing"
6,"Senior Manager, Competitive Intelligence",23andMe,2021-01-23,155,The future of healthcare is changing at a rapi...,"1,410","Sunnyvale, CA","Information Technology & Services, Computer So...","Research, Analyst, Information Technology"
7,CMC Clinical Supply Chain Manager,23andMe,2021-01-17,29,"Who We Are Since 2006, 23andMe’s mission has b...",271,"South San Francisco, CA","Information Technology & Services, Computer So...","Management, Manufacturing"
8,User Experience Research Intern (Remote),23andMe,2021-01-28,22,Overview Are you passionate about uncovering t...,133,"Sunnyvale, CA","Information Technology & Services, Computer So...",Other
9,Legal Intern (Remote),23andMe,2021-01-28,24,23andMe is looking for a Legal Intern to join ...,189,"Sunnyvale, CA","Information Technology & Services, Computer So...","Education, Training"

In [3]:
job_data['company'].unique()

array(['23andMe', 'Actifio', 'Adaptive Biotechnologies Corp.', 'Adyen',
       'Airbnb', 'Alteryx', 'Anaplan', 'AppDirect', 'AppDynamics',
       'Apttus', 'Atlassian'], dtype=object)

In [4]:
mask = job_data['title'].duplicated(keep=False)
job_data.loc[mask, 'title'] += (' - ' + job_data.groupby('title').cumcount().add(1).astype(str))

In [5]:
job_data['title'].value_counts()

Senior Engineering Manager                             1
Principal Security Engineer - 2                        1
AppDynamics Field Security Architect                   1
Legal Intern (Remote)                                  1
Director, HCP Marketing T-Detect                       1
                                                      ..
Senior Backend Software Engineer, Confluence           1
Senior Backend Engineer, Community Support Platform    1
Strategy and Business Operations, Senior Associate     1
AppDynamics Engineering Support Team Manager           1
Senior Software Engineer - 9                           1
Name: title, Length: 1484, dtype: int64

In [6]:
#cleared_job_data = job_data.loc[~job_data['company'].isin(['Dextra', 'Claro Brasil', 'Itaú Unibanco'])]
#cleared_job_data['company'].unique()
#cleared_job_data.to_csv('jobs.csv', index=False)

In [7]:
splitted_data = pd.DataFrame([], columns=['job', 'type', 'description'])

In [8]:
for index, row in job_data.iterrows():
    
    splitted_industry = row['industry'].split(', ')
    for industry in splitted_industry:
        to_append = [row['title'], 'industry', industry]
        splitted_data = splitted_data.append(pd.DataFrame([to_append], columns=splitted_data.columns), ignore_index=True)
        
    splitted_job_function = row['job functions'].split(', ')
    for job_function in splitted_job_function:
        to_append = [row['title'], 'job function', job_function]
        splitted_data = splitted_data.append(pd.DataFrame([to_append], columns=splitted_data.columns), ignore_index=True)

In [9]:
splitted_data.loc[splitted_data['type'] == 'industry']['description'].value_counts()

Information Technology & Services    684
Internet                             520
Computer Software                    467
Computer Hardware                    166
Computer Networking                  166
Hospitality                          150
Travel & Tourism                     148
Leisure                              148
Financial Services                   135
Marketing & Advertising              129
Biotechnology                        102
Pharmaceuticals                       62
Hospital & Health Care                62
not found                             35
Computer & Network Security            2
Information Services                   1
Name: description, dtype: int64

In [10]:
job_data['industry'].value_counts()

Information Technology & Services                                                    387
Internet                                                                             245
Computer Hardware, Computer Software, Computer Networking                            166
Hospitality, Internet, Leisure, Travel & Tourism                                     145
Financial Services                                                                   132
Marketing & Advertising, Information Technology & Services, Computer Software        129
Information Technology & Services, Computer Software, Internet                       117
Biotechnology, Hospital & Health Care, Pharmaceuticals                                62
Information Technology & Services, Computer Software, Biotechnology                   40
not found                                                                             35
Computer Software                                                                      9
Internet, Leisure, Travel & Tourism, Information Technology & Services                 2
Internet, Computer Software, Information Technology & Services                         2
Information Technology & Services, Computer Software, Computer & Network Security      2
Internet, Hospitality                                                                  2
Internet, Information Technology & Services                                            2
Financial Services, Information Technology & Services                                  1
Internet, Hospitality, Information Technology & Services                               1
Internet, Hospitality, Financial Services                                              1
Internet, Computer Software, Hospitality                                               1
Internet, Leisure, Travel & Tourism                                                    1
Internet, Financial Services                                                           1
Computer Software, Information Services, Information Technology & Services             1
Name: industry, dtype: int64

In [11]:
splitted_data.to_csv('splitted_data.csv', index=False)

In [12]:
job_data.to_csv('jobs_filtered.csv', index=False)

In [13]:
job_data.head()

,title,company,date,applicants,description,views,location,industry,job functions
0,"Associate Scientist / Sr. Associate Scientist,...",23andMe,2021-01-23,17,"Who We Are 23andMe, the leading consumer genet...",254,"South San Francisco, CA","Information Technology & Services, Computer So...","Research, Analyst, Information Technology"
1,Senior / Principal Clinical Data Manager,23andMe,2021-01-23,5,"Who We Are 23andMe, the leading consumer genet...",49,"South San Francisco, CA","Information Technology & Services, Computer So...","Research, Analyst, Information Technology"
2,"Team Lead, Senior Appsec Engineer",23andMe,2021-01-27,0,23andMe is looking for an experienced Applicat...,8,"Sunnyvale, CA","Information Technology & Services, Computer So...","Customer Service, Information Technology"
3,Business Analyst Intern (Remote),23andMe,2021-01-27,67,23andMe is looking for a Business Analyst Inte...,368,"Sunnyvale, CA","Information Technology & Services, Computer So...","Business Development, Sales"
4,IT & Security Project Manager,23andMe,2021-01-28,1,23andMe is looking for a talented and experien...,19,"Sunnyvale, CA","Information Technology & Services, Computer So...","Project Management, Information Technology"

In [14]:
job_data.loc[job_data['company'] == 'Pixida']['location'].value_counts()

Series([], Name: location, dtype: int64)